
    <div class="row">
    <div class="col-xs-18 col-sm-6 col-md-4" *ngFor="let item of items">
      <div class="thumbnail">
        <img src="https://unsplash.it/800/600?image=39">
        <div class="caption">
          <h4>{{item.title}}</h4>
          <p>{{item.description}}</p>
          <a href="#" class="btn btn-default btn-xs pull-right" role="button"><i class="glyphicon glyphicon-edit"></i></a> <a href="#" class="btn btn-info btn-xs" role="button">Button</a> <a href="#" class="btn btn-default btn-xs" role="button">Button</a>
        </div>
      </div>
    </div>
    </div>


