
    <div class="row">
    <div class="col-xs-18 col-sm-6 col-md-4" *ngFor="let item of items">
      <div class="thumbnail"  (click) = "currItem(item)"  >
        <img src="http://localhost:8080/api/image/{{item.image}}">
        <div class="caption">

          <h4>{{item.title}}</h4>
          <h5>{{item.price | currency}}</h5>


          <p>{{item.description}}</p>
          <button mat-raised-button color="primary" data-toggle="modal" data-target="#modal">View Details</button>

        </div>
      </div>
    </div>
    </div>


<div class ="modal fade" data-backdrop="static" data-keyboard="false"  id= "modal" >
  <div class="modal-dialog" >

    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{getItem == null ? "" : getItem.title}}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <h5>{{getItem == null ? "" : getItem.description}}</h5>
        <img id= "img" src="{{getItem == null ? imageLink : (imageLink + getItem.image)}}">
        <h5>Price: ${{getItem == null ? "" : getItem.price}}</h5>
      </div>
      <app-googlemap *ngIf="getItem" [currentItem]="mapData"  ></app-googlemap>
      <div class="modal-footer">
        <button mat-raised-button color="primary"  data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


