.row{
  /*background-color: blueviolet;*/
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

.btn-full
{
  display: inline-block;
  text-decoration: none;
  padding: 8px;
  font-size: 14px;
  border-radius: 200px;
  background-color: #0b1e4ad9;
  color: #fff;
  transition: background-color 0.3s, border 0.3s, color 0.3s;
}

.btn-full:hover, .btn-full:active
{
  background-color: #4e7be4;
}
