
.modal-body{
  min-width: 500px;
}
.modal-backdrop{
  background-color: rgba(0,0,0,0.4);
  overflow: auto;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; /* Adjusts for spacing */
}

.modal-content{


  z-index: 1;
  margin: 10% auto;
}
img{
  max-width: 500px;
}
