h2 {
	color: rgb(0, 0, 0);
	margin-bottom: 15px;
}
h3{
  color: red;
  font-size: 12px;
}

#login-info {
	text-align: center;
}

/* .form-control {
	width: 25%;
	border: 1px solid black;
  margin: 0 auto 8px;
} */
.cards{
  margin-top: 5%
}

.example-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;

}



hr {
	border-color: black;
	margin-bottom: 0px;
}
