<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
	<div class="row" id="login-info">
		<div>
			<h2 id="welcome">Welcome to Gator Marketplace @ UF</h2>
			<form #signupForm="ngForm" (ngSubmit)="loginUser(signupForm)">
  			<input type="text" name="email" class="form-control" id="email" placeholder="Email" ngModel>
  			<input type="password" name="password" class="form-control" id="password" placeholder="Password" ngModel>
  			<button type="submit" class="btn btn-warning">Log In</button>
			</form>
			<a href="https://www.google.com/" target="_blank">Forgot password?</a>
		</div>
		<div>
			<hr>
			<h2 id="account">Don't have an account?</h2>
            	<input type="text" class="form-control" placeholder="Email"/>
				<input type="text" class="form-control" placeholder="Username"/>
            	<input type="password" class="form-control" placeholder="Password"/>
            	<button class="btn btn-warning">Sign Up</button>
		</div>
	</div>
	</div>
</body>
</html>

