


	<div class="container">
	<div class="row" id="login-info">

		<mat-card class = "cards">
			<h2 id="welcome">Welcome to Gator Marketplace @ UF</h2>
			<form class="example-container" #signupForm="ngForm" (ngSubmit)="loginUser(signupForm)">
        <mat-form-field>
  			<input matInput type="text" name="email" id="email" placeholder="Email" ngModel>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" name="password"  id="password" placeholder="Password" ngModel>
      </mat-form-field>
        <h3 *ngIf = "fail"> *Login failed: username or password incorrect</h3>
        <button mat-raised-button color="primary" type="submit">Log In</button>

			</form>
			<a href="https://www.google.com/" target="_blank">Forgot password?</a>
    </mat-card>
		<div>
      <mat-card class = "cards">
      <h2 id="account">Don't have an account?</h2>

          <form class = "example-container" #f="ngForm" action="/upload"  (ngSubmit)="onSubmit(f.value)" method="POST" enctype="multipart/form-data">

            <mat-form-field >
              <input matInput type="text"  name="newEmail" id="newEmail" placeholder="Email" ngModel>
            </mat-form-field>
            <mat-form-field>
              <input matInput type="password"  name="newPassword" id="newPassword" placeholder="Password" ngModel>
            </mat-form-field>
            <mat-form-field>
              <input matInput type="password"  name="validatePassword" id="validatePassword" placeholder="Repeat password" ngModel>
            </mat-form-field>
            <button mat-raised-button color="primary" >Sign Up</button>
          </form>

      </mat-card>


        <!-- <form #f="ngForm" action="/upload"  (ngSubmit)="onSubmit(f.value)" method="POST" enctype="multipart/form-data">
            <input type="text" class="form-control" name="newEmail" id="newEmail" placeholder="Email" ngModel>
            <input type="password" class="form-control" name="newPassword" id="newPassword" placeholder="Password" ngModel>
            <input type="password" class="form-control" name="validatePassword" id="validatePassword" placeholder="Repeat password" ngModel>
            <button mat-raised-button color="primary" >Sign Up</button>
        </form> -->

		</div>
  </div>
  </div>




