h2 {
	color: #1069A4;
	margin-bottom: 15px;
}
h3{
  color: red;
  font-size: 12px;
}

#login-info {
	text-align: center;
}

.form-control {
	width: 25%;
	border: 1px solid black;
  margin: 0 auto 8px;
}

.btn-full
{
  margin: 15px;
  padding: 8px 18px;
  display: inline-block;
  text-decoration: none;
  border-radius: 200px;
  background-color: #0b1e4ad9;
  color: #fff;
  transition: background-color 0.3s, border 0.3s, color 0.3s;
}

.btn-full:hover, .btn-full:active
{
  background-color: #4e7be4;
}



hr {
	border-color: black;
	margin-bottom: 0px;
}
