ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

.title{
  margin-right: 5px;
}
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  transition: all 0.5s ease;
  background-color: #FF8C00;

}

nav ul{
  padding-left: 50px;
}

.body{
  margin: 0;
  padding: 0;
}

