
<mat-toolbar color="primary">
    <h1 routerLink="/" class="title">Gator Market Place </h1>
    <img routerLink="/" src="../assets/florida-gators.png"  style = "height: 50% ">
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/chat">Chat</a></li>
    <li><a routerLink="/profile" *ngIf="loggedIn">Profile</a></li>
    <li><a routerLink="/profileCreate" *ngIf="loggedIn">Edit Profile</a></li>
    <li><a routerLink="/itemCreate" *ngIf="loggedIn">Upload Item</a></li>
    <li><a routerLink="/login" *ngIf="!loggedIn">Login</a></li>
    <li><a routerLink="/login" (click)="logout()" *ngIf="loggedIn">Logout</a></li>


  </ul>
</mat-toolbar>

<router-outlet></router-outlet>


