<div class="container">
  <div class="row" id ="itemInfo">

      <mat-card>
        <h1> Sell New Item</h1>

        <img  [src]= "itemImage != null ? itemImage : '../../assets/genericImage.png'" class=""alt="item picture" id = "itemPicture">

        <form #f="ngForm" action="/upload" (ngSubmit)="onSubmit(f.value)"  method="POST"
              enctype="multipart/form-data">
          <h4> Item Category</h4>
          <mat-form-field>
            <mat-select name = "category" [(ngModel)]="category">
              <mat-option value="tickets">Tickets</mat-option>
              <mat-option value="textbooks">Textbooks</mat-option>
              <mat-option value="apartment">Apartment/Dorm</mat-option>
              <mat-option value="miscellaneous">Miscellaneous</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="custom-file mb-3">
            <h2> Upload Item Picture </h2>
            <p>(Please wait for picture to appear above before submitting)</p>
            <input type="file" #fileInput (change)="onFileChanged($event)"  name="file" id="file"
                   class="custom-file-input">
          </div>
          <div class = "infoForms">
            <h3> Item Information </h3>
            <mat-form-field>
            <input matInput stype="text" name = "title" placeholder = " Title" ngModel> <br>
              </mat-form-field>
              <mat-form-field>
            <input matInput type="text" name = "description" placeholder = " Description" ngModel> <br>
          </mat-form-field>
            <div class="moneyInput">
          <mat-form-field>
            <input matInput type="number" name = "price" min= "0.00" placeholder = " 0.00" ngModel><br>
          </mat-form-field>
            </div>
          </div>
          <div class = "addressForm">
              <h5> Meetup Location</h5>
            <div class = addressSize1>
              <mat-form-field>
              <input matInput type="text" name = "address" placeholder = " Street Address" ngModel> <br>
            </mat-form-field>
            <mat-form-field>
              <input matInput type="text" name = "address2" placeholder = " Street Address Line 2" ngModel> <br>
            </mat-form-field>
            </div>
            <div class = "addressSize2">
                <mat-form-field>
              <input matInput type="text" name = "city" placeholder = " City" ngModel>
            </mat-form-field>
            <mat-form-field>
              <input matInput type="text" name = "state" placeholder = " State" ngModel> <br>

            </mat-form-field>
            <mat-form-field>
              <input matInput type="text" name = "zip" placeholder = " Zip Code" ngModel>
            </mat-form-field>
            <mat-form-field>
              <input matInput type="text" name = "country" placeholder = " Country" ngModel> <br>
            </mat-form-field>
            </div>
          </div>
          <button mat-raised-button color="primary" type="submit" value="Submit" id = "submit" >Submit</button>
        </form>
      </mat-card>
    </div>

</div>
