<div class="container">
  <div class="row" id ="itemInfo">
    <div class="col-md-6 m-auto">
      <div class = "insideBorder">
        <h1> Sell New Item</h1>

        <img src= "../../assets/genericImage.png" alt="item picture" id = "itemPicture">

        <form #f="ngForm" action="/upload" (ngSubmit)="onSubmit(f.value)"  method="POST"
              enctype="multipart/form-data">
          <h4> Item Category</h4>
            <select name = "category" [(ngModel)]="category">
              <option value="tickets">Tickets</option>
              <option value="textbooks">Textbooks</option>
              <option value="apartment">Apartment/Dorm</option>
              <option value="miscellaneous">Miscellaneous</option>
            </select>
          <div class="custom-file mb-3">
            <h2> Upload Item Picture </h2>
            <input type="file" #fileInput (change)="onFileChanged($event)"  name="file" id="file"
                   class="custom-file-input">
          </div>
          <div class = "infoForms">
            <h3> Item Information </h3>
            <input type="text" name = "title" placeholder = " Title" ngModel> <br>
            <input type="text" name = "description" placeholder = " Description" ngModel> <br>
            <div class="moneyInput">
            <span class="dollarSign">$ </span>
            <input type="number" name = "price" min= "0.00" placeholder = " 0.00" ngModel><br>
            </div>
          </div>
          <div class = "addressForm">
              <h5> Meetup Location</h5>
            <div class = addressSize1>
              <input type="text" name = "address" placeholder = " Street Address" ngModel> <br>
              <input type="text" name = "address2" placeholder = " Street Address Line 2" ngModel> <br>
            </div>
            <div class = "addressSize2">
              <input type="text" name = "city" placeholder = " City" ngModel>
              <input type="text" name = "state" placeholder = " State" ngModel> <br>
              <input type="text" name = "zip" placeholder = " Zip Code" ngModel>
              <input type="text" name = "country" placeholder = " Country" ngModel> <br>
            </div>
          </div>

          <input type="submit" value="Submit" id = "submit" class="btn btn-primary btn-block" >
        </form>
      </div>
    </div>
  </div>
</div>
