
  <div class="row" id ="profileInfo">
    <div class="col-md-6 m-auto">
        <mat-card>
        <h1> Create Profile</h1>
        <div>
          <img class="profile rounded mx-auto d-block" [src]= "imageFilename != null || user.image!= null || (selectedFile == null && user.image == null)  ? userImage : '../../assets/genericImage.png'">
        </div>
         <form #f="ngForm" action="/upload"  (ngSubmit)="onSubmit(f.value)" method="POST"
              enctype="multipart/form-data">
          <div class="custom-file mb-3">
            <h2> Upload Profile Picture </h2>
            <input type="file" #fileInput (change)="onFileChanged($event)"  name="file" id="file"
                   class="custom-file-input">
          </div>
          <div class = "userForms">
            <h3> Personal Information </h3>
            <mat-form-field>
            <input matInput type=" text" name = "firstname" id="firstname" placeholder = " First Name" ngModel> <br>
          </mat-form-field>
          <mat-form-field>
            <input matInput type=" text" name = "lastname" id="lastname" placeholder = " Last Name" ngModel> <br>
          </mat-form-field>
          </div>
          <button mat-raised-button color="primary" type="submit" value="Submit" id = "submit" >Submit</button>
          <!-- <input type="submit" value="Submit" id = "submit" class="btn btn-primary btn-block" > -->
        </form>
        </mat-card>
    </div>
  </div>

