
.row{
  text-align: center;
}
#profileInfo{
  margin-top: 43px;
  text-align-all: center;
  margin-left: 10%;
  height: 150%;
  width: 120%;

}
#profilePicture{
  border-radius: 25px;
  margin-bottom: 5px;
  margin-top: 10px;
}
.insideBorder{
  margin-left: 20%;
  margin-bottom: 5%;
  border: 1px solid navy;
}
#file{
  margin-left: 137px;
}
h1{
  color: navy;
  font-family: "Times New Roman", serif;
  font-size: 40px;
  margin-bottom: 5px;
  margin-top: 8px;
}

h2{
  color: navy;
  margin-bottom: 5px;
  margin-top: 6px;
  font-family: "Times New Roman", serif;
  font-size: 19px;
}
h3{
  color: navy;
  font-family: "Times New Roman", serif;
  font-size: 19px;
  margin-bottom: 5px;
}
#submit{
  width: 140px;
  height: 75%;
  margin-left: 148px;
  margin-bottom: 20px;

}

.userForms input{
  margin-bottom: 10px;
  width: 200px;
  height: 25px;
  border: 1px solid black;
  border-radius: 5px;
}
