
<div class="container">
  <div class="row" id ="profileInfo">
    <div class="col-md-6 m-auto">
      <div class = "insideBorder">
      <h1> Create Profile</h1>

      <img src= "{{userimage}}" alt="profile picture" id = "profilePicture">


      <form action="/upload" method="POST"
            enctype="multipart/form-data">
        <div class="custom-file mb-3">
          <h2> Upload Profile Picture </h2>
          <input type="file" #fileInput (change)="onFileChanged($event)"  name="file" id="file"
                 class="custom-file-input">
        </div>
        <div class = "userForms">
          <h3> Personal Information </h3>
          <input type=" text" name = "firstName" placeholder = " First Name"> <br>
          <input type=" text" name = "lastName" placeholder = " Last Name"> <br>
          <input type=" text" name = "email" placeholder = " Email">
        </div>
        <input type="submit" value="Submit" (click)="onUpload()" id = "submit" class="btn btn-primary btn-block" >
      </form>
    </div>
    </div>
  </div>
</div>

