body {
  background-color: lightblue;
}
.row{
  text-align: center;
}
#profileInfo{
  margin-top: 43px;
  text-align-all: center;
  margin-left: 20%;
  height: 150%;
  width: 120%;

}
#profilePicture{
  border-radius: 25px;
  margin-bottom: 5px;
  margin-top: 10px;
}

#file{
  margin-left: 40%;
}


h2{

  margin-bottom: 5px;
  margin-top: 6px;
  font-size: 19px;
}
h3{
  font-size: 19px;
  margin-bottom: 5px;
}
#submit{
  width: 140px;
  height: 75%;
  margin-left: 0px;
  margin-bottom: 20px;

}

/* .userForms input{
  margin-bottom: 10px;
  width: 200px;
  height: 25px;
  border: 1px solid black;
  border-radius: 5px;
} */
.profile {
  max-width: 300px;
}
