h2 {
	color: #1069A4;
	margin-bottom: 15px;
	text-align: center;
}

hr {
	border-color: black;
}

h4 {
	margin-top: 30px;
}

img {
	height: 300px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#information {
	float: right;
}