h1 {
  border-bottom: 1px solid black;
}
.container{
  max-width: fit-content;
}

.row{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.vertical-menu {
  width: 200px;
  margin-top: 25px;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #000;
  color: white;
}
.input-group{
  margin-top: 15px;
}
.jumbotron{
  margin-top: 25px;
  width: 250px;
  height: 200px;
}
.cards{
  margin-top: 25px;
}
h2{
  size: 14px;
}
