h1 {
  border-bottom: 1px solid black;
}
.container{
  /*background-color: aqua;*/
}

.row{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.vertical-menu {
  width: 200px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #3F51B5;
  color: white;
}

.input-group{
  margin-top: 15px;
}

.cards{
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.side-bar{
  /*background-color: crimson;*/
  margin-top: 25px;
  display: flex;
}

h2{
  size: 14px;
}
